/*=======================================Подключения=================================================*/
/* &display=swap */

@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

@font-face {
   font-family: 'TTNormsPro';
   src: url('../fonts/TTNormsPro-Bold.woff2') format('woff2'), url('../fonts/TTNormsPro-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'TTNormsPro';
   src: url('../fonts/TTNormsPro-Regular.woff2') format('woff2'), url('../fonts/TTNormsPro-Regular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Circular Std';
   src: url('../fonts/CircularStd-Book.woff2') format('woff2'), url('../fonts/CircularStd-Book.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'Circular Std';
   src: url('../fonts/CircularStd-Medium.woff2') format('woff2'), url('../fonts/CircularStd-Medium.woff') format('woff');
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}
@font-face {
   font-family: 'TTNormsPro';
   src: url('../fonts/CircularStd-Bold.woff2') format('woff2'), url('../fonts/CircularStd-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}
body {
   min-width: 1440px;
}
.menu{
   display: inline-block;
   color: green;
   font-family: TTNormsPro;
   font-size: 22px;
   /*padding: 0 0 0 10px;
   margin: 10px 90px 50px 0;*/
   margin-top: 10px;
   margin-left: 100px;
   margin-bottom: 50px;
   
}
.first{
   font-family: TTNormsPro;
   font-size: 46px;
   font-weight: 700;
   text-align: center;
   margin: 0 0 35px 0;
   word-spacing: 5px;
   color: darkviolet;
   text-shadow: 25px 15px 5px darkviolet;
}
.full{
   text-align: center;
   min-width: 1440px;
}
.Why {
   /*max-width: 900px;*/
   font-family: TTNormsPro;
   font-weight: 400;
   font-size: 16px;
   text-align:right;
}
.Why-text-1 {
   min-width: 700px;
   margin: 0 700px 30px 40px;
   text-decoration: underline;
}
.why-text-2 {
   min-width: 700px;
   margin: 0 auto 30px;
   text-transform: uppercase;
   line-height: 1.5;
}
.why-quote {
   min-width: 700px;
   border: 10px solid purple;
   margin: 0 600px 30px 55px;
}
.question {
   font-family: Ubuntu Mono;
   border-top: 5px solid black;
   border-right: 3px dotted red;
   border-bottom: 2px dashed blue;
   border-left: 10px double red;
}
.answer {
   font-family: Ubuntu Mono;
   border: 5px solid transparent;
}
.why-text-3 {
   min-width: 700px;
   margin: 0 700px 30px 40px;
   text-transform: capitalize;

}
.one {
   text-align: center;
   font-family: TTNormsPro;
   font-weight: 700;
   font-size: 25px;
   text-transform: uppercase;
   margin: 0 0 30px 0;
}

.about-develop {
   margin: 0 700px 30px 40px;
   line-height: 2;
   font-family: TTNormsPro;
}
.about-develop-text-1 {
   background: green;
   padding: 5px;
   border: 5px solid #000;
   border-radius: 20px 20px 15% 15%;
}
.about-develop-quote {
   font-family: Ubuntu Mono;
   background: #383;
   padding: 5px;
   border: 5px dotted red;
   border-radius: 20px 20px 20% 20%;
   margin: 0 0 30px 55px;

}
.about-develop-quote-text{
   background: #357;
}
.about-develop-quote-autor {
   background: #246;
   display: inline-block;
   margin: 0 0 0 450px;
   border-bottom: 3px dashed aqua;
}
.about-develop-text-2 {
   color: aqua;
   text-decoration:line-through;
   margin-bottom: 30px;
}
.about-develop-text-3 {
   margin-bottom: 30px;
}
.about-develop-text-4 {
}
.two {
   max-width: 350px;
   margin: 0 auto 30px;
   text-align: center;
   font-family: TTNormsPro;
   font-weight: 700;
   font-size: 25px;
   border: 5px solid gray;
   border-bottom: transparent;

}
.be-mentor {
   font-family: TTNormsPro;
   font-weight: 400;
   font-size: 25px;
   margin: 0 700px 0 40px;
}
.be-mentor-text-1 {
   text-transform: lowercase;
   word-spacing: 15px;
   margin-bottom: 30px;
}
.be-mentor-text-2 {
   margin-left: 60px;
   letter-spacing: 20px;
   padding: 0 0 40px 0;
}
.be-mentor-text-3 {
   /*white-space: nowrap;*/
   padding: 0 0 40px 0;
}
.be-mentor-text-4 {
   padding: 0 0 40px 0;
}

/*===============================fitness=================================*/

.full {
   /*max-width: 1440px;*/
}
.one-fit {
   font-family: Circular Std, Arial, sans-serif;
   font-weight: 400;
   font-size: 65px;
   text-align: center;
   padding-top: 175px;
   margin: 0 0 42px 0;
}
.subscribe {
   font-family: Circular Std, Arial, sans-serif;
   font-weight: 400;
   font-size: 20px;
   text-align: center;
   margin: 0 auto 112px;
   max-width: 750px;
   line-height: 1;
}
.two-fit {
   font-family: Circular Std, Arial, sans-serif;
   font-weight: 700;
   font-size: 34px;
   margin: 0 994px 42px 207px;
}
.quote-fit {
   font-family: Circular Std, Arial, sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 1.5;
   margin: 0 725px 60px 207px;
}
.main {
   width: 468px;
   height: 675px;
   margin: 0 auto 42px 207px;
}
.notice {
   font-family: Circular Std, Arial, sans-serif;
   font-weight: 700;
   font-size: 18px;
   margin: 0 750px 5px 207px;
}
.status {
   font-family: Circular Std, Arial, sans-serif;
   font-weight: 400;
   font-size: 18px;
   margin: 0 750px 5px 207px;
   padding: 0 0 40px 0;
}
.next{
   text-align: center;
   font-family: Circular Std, Arial, sans-serif;
   font-weight: 700;
   font-size: 25px;
   text-decoration: underline;
   padding-bottom: 50px;
}
.man{
   margin: 0 725px 5px 40px;
   text-align-last: left;
}